.auth-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.btn-submit {
    font-size: 26px;
    background: var(--background-menu-color);
    padding: 6px 18px;
    border-radius: 20px;
    color: var(--button-color);
    font-family: var(--secondary-font);
    margin-bottom: 20px;
}

.btn-forgot-pass {
    font-size: 16px;
    background: inherit;
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
    margin-bottom: 20px;
    padding: 6px;
}

.btn-forgot-pass:hover {
    background: var(--accent2-color);
    border-radius: 20px;
}

.btn-login {
    font-size: 16px;
    background: var(--secondary-color);
    border-radius: 20px;
    width: 50%;
    padding: 6px 10px;
}

.btn-login:hover {
    background: var(--accent2-color);
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container * {
    width: 100%;
    text-align: center;
}

.btn-submit:hover {
    color: var(--hover-color);
}

.submit {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-authentication {
    margin-bottom: 40px;
}

.error-submit {
    position: absolute;
    color: var(--error-color);
    left: 0;
}

.error-password {
    top: 64px;
}

.error-email {
    top: -30px;
}