.container {
    text-align: center;
    background-image: url("../../../todo-app/public/background-img.png");
    height: calc(100vh - 83px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container p {
    margin: 0;
    padding: 50px;
}

.container-header {
    font-size: 60px;
}

.container-content {
    font-size: 30px;
}

.btn-container-footer {
    font-weight: 500;
    font-size: 40px;
    background: var(--background-menu-color);
    padding: 6px 18px;
    border-radius: 20px;
    color: var(--button-color);
}

.btn-container-footer:hover, .flower-link a:hover {
    color: var(--hover-color);
}

.flower-img {
    width: 100%;
    transform: rotate(180deg);
    position: fixed;
    bottom: -500px;
    left: 0;
    z-index: -1;
}

.flower-link {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

@media screen and (max-width: 768px) {
    .container-header {
        font-size: 40px;
    }

    .container-content {
        font-size: 26px;
    }

    .container p {
        padding: 30px;
    }
}