.box {
  max-width: 800px;
  margin: auto;
  box-shadow: 1px 10px 20px var(--accent-color);
}

.header {
  font-size: 80px;
  text-align: center;
  margin: 30px;
  color: var(--button-color);
  font-style: italic;
  pointer-events: none;
}

/*----------------box-header----------------------*/
.box-header {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  font-family: var(--secondary-font);
}

/*----------------box-section---------------------*/
.box-section {
  margin: 0;
  padding: 0;
  text-align: center;
}

.error-list {
  top: -30px;
}

.error.edit-mode {
  left: 60px;
  top: 0px;
}

.input-list {
  flex: 80%;
}

.input-list-item {
  width: 100%;
}

.message {
  margin: 20px;
  font-size: 25px;
  color: var(--active-color);
}

.date {
  position: absolute;
  right: 30px;
  bottom: 4px;
  font-size: 14px;
  color: var(--active-color);
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

.icon.add:hover,
.icon.clean:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--accent-color);
}

.icon.add:active,
.icon.clean:active {
  background-color: var(--active-color);
  border: 2px solid var(--accent-color);
}

.icon.clean,
.icon.add {
  color: var(--accent-color);
  background-color: inherit;
}

.list {
  position: relative;
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 20px;
  border-bottom: 1px solid var(--active-color);
  align-items: center;
}

.list-item {
  flex-grow: 1;
  display: flex;
  list-style: none;
  padding: 0 10px;
  font-size: 18px;
  word-wrap: anywhere;
  text-align: left;
}

.remove,
.edit {
  color: var(--button-color);
  border: none;
  background-color: inherit;
}

.icon.edit:hover,
.icon.remove:hover {
  color: var(--hover-color);
  transition: all 300ms ease;
}

.icon.edit:active,
.icon.remove:active {
  color: var(--button-active);
}

.checkmark {
  border: 1px solid var(--accent-color);
  border-radius: 7px;
  cursor: pointer;
  z-index: 1;
  height: 30px;
}

.list-item.checked {
  text-decoration: line-through;
}

/*----------------box-footer----------------------*/

.box-footer {
  height: 55px;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
}

.condition.active {
  color: var(--button-color);
}

.condition:not(:last-child) {
  border-right: 1px solid var(--active-color);
}

.condition:hover {
  color: var(--hover-color);
}

.condition {
  font-size: 17px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 800px) {
  .box {
    margin: 10px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    font-size: 50px;
  }
  .list {
    padding: 20px 5px;
  }
}
