:root {
  --primary-color: #e6e6e6;
  --secondary-color: #d9d9d9;
  --accent-color: #767676;
  --accent2-color: #bfbfbf;
  --button-color: #b762b4;
  --button-active: #693067;
  --hover-color: #8c4089;
  --active-color: #999999;
  --error-color: #ff0000;
  --text-color: #0d0d0d;
  --background-menu-color: #dfb9de;
  --primary-font: "Ubuntu", sans-serif;

  overscroll-behavior: none;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: var(--button-active);
  outline-style: solid;
}

body {
  overscroll-behavior: none;
  font-family: var(--primary-font);
  font-weight: 300;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-color);
  color: var(--text-color);
}

.btn {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border-width: 0;
}

.input {
  font-size: 16px;
  padding: 10px;
  border-color: var(--active-color);
  border-style: solid;
  border-radius: 2px;
  border-width: 2px;
}

.input:focus {
  outline: none;
  border-radius: 2px;
  border-style: solid;
  border-color: var(--button-color);
}

a {
  text-decoration: none;
}

.error {
  position: absolute;
  color: var(--error-color);
  left: 0;
}
