.auth-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.btn-submit {
  font-size: 20px;
  background: var(--background-menu-color);
  padding: 6px 18px;
  border-radius: 20px;
  color: var(--button-color);
}

.btn-auth {
  background: inherit;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
}

.btn-login {
  padding: 8px 12px;
}

.btn-forgot-pass {
  font-size: 16px;
  padding: 8px 0;
  margin-bottom: 20px;
}

.btn-forgot-pass:hover,
.btn-login:hover,
.btn-other-auth:hover {
  background: var(--secondary-color);
  border-radius: 20px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-submit,
.btn-forgot-pass {
  width: 100%;
  text-align: center;
}

.btn-submit:hover {
  color: var(--hover-color);
}

.btn-other-auth {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 4px;
  background: inherit;
}

.icon-google {
  width: 20px;
  margin-right: 4px;
}

.submit {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.input-authentication {
  margin-bottom: 40px;
}

.btn-eye {
  position: absolute;
  right: 6px;
  top: 14px;
}

.error-password {
  top: 56px;
}

.error-email {
  top: -30px;
}

.auth-container-footer {
  display: flex;
  font-size: 14px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.box-pass {
  position: relative;
  display: flex;
}

.box-pass input {
  width: 100%;
}

.other-auth {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}
